---
navitems:
  -
   navitem:
     title: "Etusivu"
     link: "index.html"
  -
   navitem:
     title: "Sivu2"
     link: "page2.html"     
---
%header
  .nav-container
    %nav
      %ul
        - data.navigation.navitems.each do |s|
          -if selected == s.navitem.title
            %li{:class => 'selected'}
              =link_to s.navitem.title, s.navitem.link, :relative =>true
          -else
            %li
              =link_to s.navitem.title, s.navitem.link, :relative =>true

