

- navLiStyle ="margin:0.5%;width:14%;padding:.3%;float:left;list-style-type:none;background:#383f38;font-size:1em;text-transform:uppercase;color:white"
- navLiStyle="margin: 1.5% 0 0.3% 0%;padding-top:0.2%;padding-bottom:0.2%text-align: center;overflow: auto;float: left;width:8em;padding-right:1em;background:#dbdbdb;font-size:1.1em;"
- navAStyle= "text-decoration:none;color:#4d4c4b;padding-left:0.5em;"
- navAStyleSel= "text-decoration:none;color:#ab9283;padding-left:0.5em;"

%style
  \.sgNavUl{
  \width:100%;
  \margin-top:-1em;
  \clear:both;
  \overflow:hidden;
  \}  
%ul.sgNavUl
  - data.styleguidenav.sgnavitems.each do |s|
    -if defined? selected
      -if selected == s.navitem.title
        %li{:style=>navLiStyle}
          =link_to s.navitem.title, s.navitem.link, :relative =>true, :style =>navAStyleSel, :anchor=>"sgNav"
      -else
        %li{:style=>navLiStyle}
          =link_to s.navitem.title, s.navitem.link, :relative =>true, :style =>navAStyle, :anchor=>"sgNav"
    -else
      %li{:style=>navLiStyle}
        =link_to s.navitem.title, s.navitem.link, :relative =>true, :style =>navAStyle, :anchor=>"sgNav"
%div{:style=>'content: ".";display:block;clear:both;visibility:hidden;line-height:0;height:0'}
%br
%br