// Site wide variables

// Layouts
$default-margin: 1em;

// Fonts
//$font: 'Share Tech', Helvetica, Arial,sans-serif;
$font: 'Average Sans',Helvetica,Arial,sans-serif;

//font-family: 'Noto Sans', sans-serif;
//font-family: 'Average Sans', sans-serif;
//font-family: 'Roboto Slab', serif;

// Colors
//$bgcolor: #d5d9d1;


// Mediaquery breakpoints 
// Custom breakpoints
$mobile-portrait: "only screen and (max-width : 480px)";
$mobile-landscape: "only screen and (max-width : 800px) and (max-height: 480px) and (orientation : landscape)";
$tablet-portrait: "only screen and (max-width : 768px)";
$desktop: "only screen and (min-width : 1024px)";


// Special breakpoints for devices 
$smartphone-portrait-and-landscape: "only screen and (min-device-width : 240px) and (max-device-width : 480px)";
$smartphone-landscape: "only screen and (min-width : 321px)";
$smartphone-portrait: "only screen and (max-width : 320px)";
$ipad-portrait-and-landscape: "only screen and (min-device-width : 768px) and (max-device-width : 1024px)";
$ipad-landscape: "only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape)";
$ipad-portrait: "only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait)";
$desktop-and-laptop: "only screen and (min-width : 1224px)";
$large-screen: "only screen and (min-width : 1824px)";
$iphone4: "only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5)";

//Timo K special hack Susy for use, this is the container. max widt is 12*5em=12*5*16=>960px
$total-columns  : 12;
$column-width   : 4em;
$gutter-width   : 1em;
$grid-padding   : $gutter-width;


//component fullwide bg-colors

//Gradient colors
$blue-bg:#e3dee7;
$orange-bg:#d96517;
$green-bg:#2ea712;

//site
$bgcolor: #f2f2f2;
$font-light-color:#f2f2f2;
$font-darkgrey-color:#3b3b3b;
$header-bg:lighten(#dbdbdb,15%);

