header {
  background: #3e4d39;
}

.nav-container {
  margin-bottom:1.5em;
  padding-bottom:0.15em;
  padding-top:0.35em;
  
  nav {

    ul {
      padding-right:1%;
      padding-left:1%;
      text-align: right;
      overflow: auto;
      list-style:none; 
      font-size:1.2em;
      text-transform: uppercase;
      font-family: $font;
      margin: 0;
    }
  
    li {
      margin: 0.5% 0 0.3% 0%;
      text-align: center;
      overflow: auto;
      float: left;
      padding-right:2em;
    }
    
    a {
      text-decoration: none;
      margin: 0;
      display: block;
      color: #fff;
      color: rgba(255,255,255, 0.9);
      letter-spacing: 0.05em;
    }
    
    .selected a{
      color:#a4c8a1;
    }
    
  }
}

@media #{$mobile-portrait} {

  .nav-container nav li{
    margin-top: 0.1em;
    @include span-columns(12,12);
   padding-right:0;

//    width: 90%;
    clear: both;
    text-align: left;
//    padding-left: 5%;
//    padding-right: 5%;
  }
  .nav-container{
    margin-bottom:1em;
  }

}
