header {
  
  //background: #3e4d39;
  //background: #f2f2f2;
  //background:#2c2c2c;
  //background:$header-bg;
}

.header{
  margin-bottom:1.5em;
  //width:100%;

}

.nav-container {
  //position:fixed;
  //z-index:12;
  //padding-bottom:0.15em;
  width:100%;
  padding-top:0.35em;
  @include get-gradient($header-bg);

  nav {

    ul {
//      padding-right:1%;
//      padding-left:1%;
      text-align: right;
      overflow: auto;
      list-style:none; 
      font-size:1.2em;
      text-transform: uppercase;
      font-family: $font;
      margin: 0;
    }
  
    li {
//      margin: 0.3% 0 0.3% 0%;
      text-align: center;
      overflow: auto;
      float: left;
      padding-top:0.5em;
      padding-right:1.5em;
      padding-bottom:0.15em;
      //padding: 0.5em;
     // background: #f2f2f2;
    }
    
    a {
      border-radius: 3px;
      //padding: 0.5em;
      text-decoration: none;
      margin: 0;
      display: block;
      color: #4d4c4b;
      //color: #000000;
      letter-spacing: 0.05em;
    }
    
    .selected a{
      //background: rgb(1, 136, 200);
      //color:#a4c8a1;
      //color:#ffffff ;
      color:#ab9283;
    }
    
  }
}

@media #{$mobile-portrait} {

  .nav-container nav li{
    margin-top: 0.1em;
    @include span-columns(12,12);
   padding-right:0;

//    width: 90%;
    clear: both;
    text-align: left;
//    padding-left: 5%;
//    padding-right: 5%;
  }
  .nav-container{
    margin-bottom:1em;
  }

}
