header {
  background: #3e4d39;
}

.nav-container {
  margin-bottom:1.5em;
  
  nav {
    ul {
      text-align: right;
      overflow: auto;
      list-style:none; 
      font-size:1.3em;
      text-transform: uppercase;
      font-family: $font;
      margin: 0;
    }
  
    li {
      margin: 0.5% 0 0.3% 1%;
      text-align: center;
      overflow: auto;
      float: left;
      width: 16.4166666667%;
    }
    
    a {
      text-decoration: none;
      margin: 0;
      display: block;
      padding: 2% 0 1% 1%;
      margin: 1% 2% 1% 0;
      background-color: rgb(78,94,73);
      background-color: rgba(255,255,255,0.1);
      color: #fff;
      color: rgba(255,255,255, 0.9);
      letter-spacing: 0.05em;
    }
    
    .selected{
      background: none repeat scroll 0 0 #8f968d;
    }
    
  }
}

@media #{$tablet-portrait} {

  .nav-container nav li {
    width: 22%;
  }

}

@media #{$mobile-portrait} {

  .nav-container nav li{
    margin-top: 0.1em;
    width: 90%;
    clear: both;
    text-align: left;
    padding-left: 5%;
    padding-right: 5%;
  }

}

@media #{$desktop} {
 
  .nav-container{
     width:960px;
     //margin: 0 auto;
     margin-left:auto;
     margin-right:auto;
    
  }
}