.hero {
	position:relative;
	//width:98.8%;
	@include span-columns(12 omega,12);
	float:left;
	overflow:hidden;

  .copy {
    width:60%;
    position: absolute;
    //left:0.3em;
    background-color:rgb(255,255,255);
    background-color:rgba(255,255,255,0.7);
    display:block;
    bottom:3em;
    right:0em;
    font-size:1.5em;    
    //float:right;  
  }
  
  .img{
    position:relative;
  }
}

@media #{$tablet-portrait} {
  .hero{
    .copy {
      width:100%;
      position: absolute;
      bottom:0em;
      font-size:1em;
      padding-bottom:1em;
    }
  }

}

@media #{$mobile-portrait} {
  .hero{
    .copy {
      font-size:0.8em;
    }
  }

}

