.left-column {
	@include span-columns(3);
    @include at-breakpoint($tablet) {
        @include span-columns(3);
    }
    @include at-breakpoint($mobile) {
        @include span-columns(6);
    }	
}

.simple-promo {
    min-width: 130px;
    background-image: linear-gradient(bottom, rgb(255,255,255) 0%, rgb(222,236,255) 50%);
    background-image: -o-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(222,236,255) 50%);
    background-image: -moz-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(222,236,255) 50%);
    background-image: -webkit-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(222,236,255) 50%);
    background-image: -ms-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(222,236,255) 50%);
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(255,255,255)),
        color-stop(0.5, rgb(222,236,255))
        ) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#deecff', endColorstr='#ffffff') !important;

    border: 1px solid #c4d7ec;
	padding: $default-margin $default-margin/2;
	margin: 0px 0px $default-margin 0;
	border-radius: $border-radius;

    .info {
        margin-top: 5px;
        @include at-breakpoint($mobile) {
            display: none;
        }
    }

    @include accordion-item;
}