.square-box {
	width:23.8%;
	position:relative;
	float:left;
	overflow:hidden;	

  .copy {
    width:100%;
    position: absolute;
    background-color:rgb(255,255,255);
    background-color:rgba(255,255,255,0.7);
    display:block;
    bottom:1em;
  } 
  
  img {
    width:100%; 
  }
}


@media #{$tablet-portrait} {

  .square-box{
  	width:48.8%;
  }

}

@media #{$mobile-portrait} {

  .square-box{
  	width:98.8%;
  	background:none;
  	padding-bottom:1em;
  }

}
