.square-box {

  //Timo K special hack
	//width:23.8%;
	@include span-columns(3,12);
	@include nth-omega(4n);
	position:relative;
	float:left;
	overflow:hidden;	

  .copy {
    width:100%;
    position: absolute;
    background-color:rgb(255,255,255);
    background-color:rgba(255,255,255,0.7);
    display:block;
    bottom:1em;
  } 
  
  img {
    width:100%; 
  }
}


@media #{$tablet-portrait} {

  .square-box{
    //Timo K special hack
    @include span-columns(6,12);
    @include remove-nth-omega(4n);
    @include nth-omega(2n);
  	.copy {
    	padding-bottom:1em;
   }
  }

}

@media #{$mobile-portrait} {

  .square-box{
    //Timo K special hack
    @include span-columns(12 omega,12);
  	background:none;
  	padding-bottom:1em;
  }

}
