.text-block-wrapper{
  margin-top:2.5em;
  margin-bottom:2.5em;
  background-color:darken($bgcolor,4%);
}
.text-block {
  margin-top:0.5em;
  margin-bottom:0.5em;
	position:relative;
	//width:98.8%;
	@include span-columns(12 omega,12);
	float:left;
	overflow:hidden;
  color:$font-darkgrey-color;

  .copy {
    //width:60%;
    //position: absolute;
    //left:0.3em;
    padding-left:4em;
    padding-right:4em;
    padding-top:0.5em;
    padding-bottom:0.5em;
    //background-color:rgb(255,255,255);
    //background-color:rgba(255,255,255,0.8);
    display:block;
    //bottom:3em;
    //right:0em;
    font-size:1.5em;    
    //float:right;  
  }
  
  .img{
    position:relative;
  }
}

@media #{$tablet-portrait} {
  .text-block{
    .copy {
      //width:100%;
      //position: absolute;
      //bottom:0em;
      font-size:1em;
      padding-bottom:1em;
    }
  }

}

@media #{$mobile-portrait} {
  .text-block{
    .copy {
      font-size:0.8em;
    }
  }

}

