/* Veikonkala channel Youtube video styles */

.vekaYoutubeChannel {
margin-top:2em;	
border: 1px solid black;
width:100%;
background:#333;
height:8em;
overflow:hidden;
padding:4px;
//position:fixed;
//bottom:0;
//left:0;
opacity:0.95;
filter:alpha(opacity=95);
}

.vekaYoutubeChannel.all{
height:auto;
}

.vekaYoutubeChannel a {
text-decoration: none;
color:#029ba9;
}
.vekaYoutubeChannel a:hover {
text-decoration: none;
color:#fff;
}
.vekaVideosHeader {
background:#333;
float:left;
color:#ededed;
//padding:0 5px;
width:95%;
//display:inline;
//clear:both;
}
.vekaVideosHeader h2 {
margin:0;
padding:0;
float:left;
}
.vekaVideosHeader a {
	float:right;
}
ul.vekaVideos {
color:#fff;
list-style-image:none;
list-style-position:outside;
list-style-type:none;
padding:0;
//margin:0 0 0 360px;
font-weight:normal;
background:#333;
}

ul.vekaVideos li {
float:left;
width:32%;
padding-left:1%;
//margin:0 10px 10px 0;
font-size:11px;
background:#333;
//width:220px;
height:180px;
//padding:0 10px 0 0;
}

ul.vekaVideos li img {
width:125px;
float:left;
margin:5px;
}
ul.vekaVideos li h3 {
font-size:12px;
margin:5px 0 0 0;
padding:0;
}
ul.vekaVideos li span {
color:#999;
}

ul.vekaVideos li:hover {
background:#555;
}



@media #{$tablet-portrait} {

ul.vekaVideos li {
	width:45%;
}
}

@media #{$mobile-portrait} {
ul.vekaVideos li {
	width:100%;
}
.vekaVideosHeader h2 {
	display:none;
}
}