---
split_promos:
  -
    split_promo:
      title: "title"
      text: "text"
      img: "test.jpg"
  -
      split_promo:
      title: "title"
      link: "styleguide.html"
      text: "text"
      img: "test.jpg"
    
---

%div{:class =>['section', 'group']}
  %ul
    - data.page.split_promos.each do |s|
      %li{:class =>['split-promo', 'box']}
        %a{:href =>s.split_promo.link || "#"}
          %div{:class =>'copy'}
            %h2=s.split_promo.title || "split_promos.split_promo.title"
            %p=s.split_promo.text || "splip_promos.split_promo.text"
          %img{:src =>s.split_promo.img}
