---
icon_promos:
  -
   icon_promo:
     img: "images/test_img/5.jpg"
     img_alt: "Esimerkki alternative text"
     title: "Esimerkkiotsikko"
     text: "Esimerkkiteksti채 promoon" 
     link: "index.html" 
     link_title: "Esimerkkiteksti채 linkkiin"
  -
   icon_promo:
     img: "images/test_img/2.jpg"
     img_alt: "Esimerkki alternative text"
     title: "Esimerkki otsikko 2"
     text: "Esimerkkiteksti채 promoon"
     link: "index.html" 
     link_title: "Esimerkkiteksti채 linkkiin"
---
%div{:class =>['right-column', position]}
  - data.page.icon_promos.each do |promo|
    .icon-promo{:class => [("last" if promo == data.page.icon_promos.last)]}
      .box-heading
        %a{:href => promo.icon_promo.link || "#", :title => promo.icon_promo.link_title || ""}
          %img{:src => promo.icon_promo.img, :alt => promo.icon_promo.img_alt || ""}
          %h1=promo.icon_promo.title || "icon_promos.icon_promo.title"
      %p=promo.icon_promo.text || "icon_promos.icon_promo.text"
