---
articles:
  -
   article:
     body: "<p> ihanaa taa elama</p>"

---
%div{:class=>['group', defined?(color) ? color : nil ]}
  .section
    - data.page.articles.each do |s|
      %div{:class =>['article', 'box']}
        .article-body
          =s.article.body
