---
simple_promos:
  -
    simple_promo:
      img: "images/test_img/5.jpg"
      title: "Big hero2"
      text: "supa huba doo" 
  -
    simple_promo:
      img: "images/test_img/2.jpg"
      title: "Kingis on hyvää"
      text: "..syö sinäkin"
      link: "index.html" 
---
%div{:class =>['left-column']}
  - data.page.simple_promos.each do |s|
    %div{:class =>['simple-promo']}
      %h1
        %a{:href => s.simple_promo.link || "#"}
          =s.simple_promo.title || "simple_promos.simple_promo.title"
      .box-content= s.simple_promo.text || "simple_promos.simple_promo.text"
