---
wide_boxes:
  -
   wide_box:
     img: "images/test_img/5.jpg"
     title: "Big hero2"
     text: "supa huba doo" 
  -
   wide_box:
     img: "images/test_img/2.jpg"
     type: "right"
     title: "Kingis on hyvää"
     text: "..syö sinäkin"
     link: "index.html" 
---
%div{:class =>['section', 'group']}
  - data.page.wide_boxes.each do |s|
    %div{:class =>['wide-box', 'box']}
      %a{:href =>s.wide_box.link || "#"}
        %img{:src =>s.wide_box.img, :class =>s.wide_box.type}
        %div{:class =>'copy'}
          %h2=s.wide_box.title || "wide_boxes.wide_box.title"
          %p=s.wide_box.text || "wide_boxes.wide_box.text"
