%div{:class=>"vekaYoutubeChannel",:id=>"vekaYoutubeChannelContainer"}
	.vekaVideosHeader
		%h2 Veikonkala's Youtube Channel
		%a{:href=>"#vekaYoutubeChannelContainer",:class=>"hideShowAllVideosLink"} Show all / Hide all
	%ul{:class=>"vekaVideos",:id=>"vekaVideosContainer"} Loading...

