---
fancyboxes:
  -
   fancybox:
     type: "hero"
     img: "images/test_img/4.jpg"
     title: "Big hero"
     text: "supa huba doo" 
  -
   fancybox:
     type: "big_square"
     img: "images/test_img/2.jpg"
     title: "Kingis on hyvää"
     text: "..syö sinäkin" 
  -
   fancybox:
     type: "square"
     img: "images/test_img/1.jpg"
     title: "Basic square"
     text: "testi teksti" 
  -
   fancybox:
     type: "square"
     img: "images/test_img/1.jpg"
     title: "Testi title"
     text: "testi teksti" 
  -
   fancybox:
     type: "square"
     img: "images/test_img/1.jpg"
     title: "Testi title"
     text: "testi teksti"           
  -
   fancybox:
     type: "square_2x"
     img: "images/test_img/1.jpg"
     title: "Square double width"
     text: "testi teksti"
---

=partial "components/_fancyBox"
