---
title: "Etusivu"
description: "Proto - "
heros:
  -
   hero:
     img: "images/test_img/5.jpg"
     title: "BIG HERO"
     text: "supa huba doo"
     link: "page2.html" 
     
wide_boxes:
  -
   wide_box:
     img: "images/test_img/2.jpg"
     title: "WIDE BOX 1"
     text: "default"
     link: "#" 
  -
   wide_box:
     img: "images/test_img/1.jpg"
     type: "right"
     title: "WIDE BOX 2"
     text: "..right side"
     link: "#"
     
square_boxes:
  -
   square_box:
     img: "images/test_img/1.jpg"
     title: "Square1"
     text: "supa huba doo"
     link: "#" 
  -
   square_box:
     img: "images/test_img/2.jpg"
     title: "Square2"
     text: "..syö sinäkin"
     link: "#"
  -
   square_box:
     img: "images/test_img/3.jpg"
     title: "Square3"
     text: "supa huba doo"
     link: "#" 
  -
   square_box:
     img: "images/test_img/4.jpg"
     title: "Square4"
     text: "..syö sinäkin"
     link: "#"  
  -
   square_box:
     img: "images/test_img/1.jpg"
     title: "Square5"
     text: "supa huba doo"
     link: "#" 
  -
   square_box:
     img: "images/test_img/2.jpg"
     title: "Square6"
     text: "..syö sinäkin"
     link: "#"
  -
   square_box:
     img: "images/test_img/3.jpg"
     title: "Square7"
     text: "supa huba doo"
     link: "#" 
  -
   square_box:
     img: "images/test_img/4.jpg"
     title: "Square8"
     text: "..syö sinäkin"
     link: "#"
 
#= YAML.load(File.read("#{File.basename(__FILE__,'.haml')}.yml"))
---
=partial('components/site-elements/header', :locals => {:selected => "Etusivu"})
=partial "components/hero/hero"
=partial "components/wide-box/wide-box"
=partial "components/square-box/square-box"
