---
title: "Etusivu"
description: "Proto - "
heros:
  -
   hero:
     img: "images/test_img/hero16_9.jpg"
     title: "SET TARGETS HIGH"
     text: "with middleman you can"
     link: "page2.html" 
     
wide_boxes:
  -
   wide_box:
     img: "images/test_img/2.jpg"
     title: "THE GROUND"
     text: "...is there"
     link: "#" 
  -
   wide_box:
     img: "images/test_img/1.jpg"
     type: "right"
     title: "BRING ON"
     text: "the colors"
     link: "#"
     
square_boxes:
  -
   square_box:
     img: "images/test_img/1.jpg"
     title: "See"
     text: "opportunity"
     link: "#" 
  -
   square_box:
     img: "images/test_img/2.jpg"
     title: "The"
     text: "of"
     link: "#"
  -
   square_box:
     img: "images/test_img/3.jpg"
     title: "Life"
     text: "a"
     link: "#" 
  -
   square_box:
     img: "images/test_img/4.jpg"
     title: "Happen"
     text: "lifetime"
     link: "#"  
  -
   square_box:
     img: "images/test_img/2.jpg"
     title: "Pure"
     text: "is clean"
     link: "#" 
  -
   square_box:
     img: "images/test_img/4.jpg"
     title: "Right"
     text: "is wrong"
     link: "#"
  -
   square_box:
     img: "images/test_img/1.jpg"
     title: "Doing"
     text: "is believing"
     link: "#" 
  -
   square_box:
     img: "images/test_img/3.jpg"
     title: "Square"
     text: "is a box"
     link: "#"
 
#= YAML.load(File.read("#{File.basename(__FILE__,'.haml')}.yml"))
---
=partial('components/site-elements/header', :locals => {:selected => "Etusivu"})
=partial "components/hero/hero"
=partial "components/wide-box/wide-box"
=partial "components/square-box/square-box"
