---
title: "Frontpage"
description: "Prototype with components - "
heros:
  -
   hero:
     img: "images/test_img/hero16_9.jpg"
     title: "EXAMPLE CONTENT WITH 16:9 IMAGE"
     text: "This content is presented using a hero component with 16:9 image"
     link: "page2.html" 
     
wide_boxes:
  -
   wide_box:
     img: "images/test_img/2.jpg"
     title: "CONTENT IN DIFFERENT COMPONENTS"
     text: "Same content can be presented in wide_box or square_box component"
     link: "#" 
  -
   wide_box:
     img: "images/test_img/1.jpg"
     type: "right"
     title: "WIDE_BOX AND 1:1 IMAGE"
     text: "This text is presented using the wide_box right component"
     link: "#"
     
square_boxes:
  -
   square_box:
     img: "images/test_img/1.jpg"
     title: "CONTENT WITH 1:1 IMAGE"
     text: "Component handles content presentation"
     link: "#" 
  -
   square_box:
     img: "images/test_img/2.jpg"
     title: "CONTENT IN DIFFERENT COMPONENTS"
     text: "Same content can be presented in wide_box or square_box component"
     link: "#" 
  -
   square_box:
     img: "images/test_img/3.jpg"
     title: "PROMOTION TITLE"
     text: "Promotion 1:1 image"
     link: "#" 
  -
   square_box:
     img: "images/test_img/4.jpg"
     title: "ANOTHER 1:1 IMAGE"
     text: "Component defines how content is presented"
     link: "#"  

 
#= YAML.load(File.read("#{File.basename(__FILE__,'.haml')}.yml"))
---
=partial('components/site-elements/header', :locals => {:selected => "Frontpage"})
=partial "components/hero/hero"
=partial "components/wide-box/wide-box"
=partial "components/square-box/square-box"
