---
title: "Frontpage"
description: "Prototype with components - "
section_title: "veikonkala.org"
section_text: "Where things happen."
section_image: "images/test_img/kala5.png"
section_color: "orange-bg"


square_boxes:
  -
   square_box:
     img: "images/test_img/responsive.jpg"
     title: "RESPONSIVE DEMO"
     text: ""
     link: "/responsive/" 
  -
   square_box:
     img: "images/test_img/responsive_proto.jpg"
     title: "HTML PROTOTYPE"
     text: ""
     link: "home.html" 
  -
   square_box:
     img: "images/test_img/black.jpg"
     title: "RC"
     text: ""
     link: "#" 
  -
   square_box:
     img: "images/test_img/black.jpg"
     title: "ARDUINO"
     text: ""
     link: "#"  
half_heros:
  -
   hero:
     img: "images/test_img/reissuexceli.jpg"
     title: "Reissuexceli"
     text: "Calculate all your trip expenses" 
     link: "/trip/"

  -
   hero:
     img: "images/test_img/kerava.jpg"
     title: "Kerava Weather"
     link: "index.html"
     text: "Live weather statistics from Kerava"  
text_blocks:
  -
   text_block:
     title: '<i>"Everything goes well if you do it yourself"</i>'
     text: "-Veikonkala" 
  
 
#= YAML.load(File.read("#{File.basename(__FILE__,'.haml')}.yml"))
---
=partial('components/site-elements/header', :locals => {:selected => "Home", :noNav =>"yes"})
=partial "components/half_hero/half_hero"
//=partial("components/text_block/text_block", :locals => {:color => "blue-bg"})
=partial("components/text_block/text_block")
=partial "components/square-box/square-box"
//%div{:style=>"padding-bottom:20em;"}
=partial("components/veka_youtube/veka_youtube")

