---
title:
description:
---

%h1
  This is template for doing HTML prototyping using HAML, SASS and component based approach
%p
  Based on : Middleman Project Template: HTML5BP HAML   
%br
%h2
  Example pages
%p
  Click 
  =link_to 'here','frontpage.html', :relative =>true 
  to browse around.
%br
%h2
  Summary of the files

%p
  %b
    *Pages
  (that are composed of components and the actual copytext (yml data) should be in folder 
  %b
    source)
%p      
  %b
    *Components 
  are in 
  %b
    source/components
%p
  %b*Images
  are under source/images
%p     
  *Layouts in folder source/layouts. It can be defined page to use some other layout from config.rb
%p
  *Helpers are in helpers folder.
%p
  *Stylesheets are under source/stylesheet
%p
  *External yml data are in separate files under data folder.

%h1
  Running the commands

%p
  Start the middleman by running: "bundle exec middleman"
%p
  Build the static site by running: "bundle exec middleman build"
%p
  If you want to run in separate port use: "middleman server -p 4567 -e development"