---
title: "Styleguide - Hero"
section_title: "Section header"
section_text: "Can be used at top of any page"
section_color: "orange-bg"

---

=partial('components/site-elements/header', :locals => {:selected => "StyleGuide"})
.section
  =partial('components/site-elements/styleguidenav', :locals => {:selected => "Section header"})
