---
title: "Styleguide"
wide_boxes:
  -
   wide_box:
     img: "images/test_img/2.jpg"
     title: "WIDE-BOX Left"
     text: "Wide-box text"
     link: "#" 
  -
   wide_box:
     img: "images/test_img/3.jpg"
     type: "right"
     title: "WIDE-BOX Right"
     text: "Wide-box text"
     link: "#"
     
---

=partial('components/site-elements/header', :locals => {:selected => "StyleGuide"})
.section
  =partial('components/site-elements/styleguidenav', :locals => {:selected => "Wide-box"})

.section
  %h1
    Wide-box (two variations)
  %p
    Wide-box is to promote products
  %br
=partial "components/wide-box/wide-box"
