---
title: "Styleguide"
heros:
  -
   hero:
     img: "images/test_img/5.jpg"
     title: "HERO"
     text: "Hero text"
     link: "#" 
     
wide_boxes:
  -
   wide_box:
     img: "images/test_img/2.jpg"
     title: "WIDE-BOX Left"
     text: "Wide-box text"
     link: "#" 
  -
   wide_box:
     img: "images/test_img/1.jpg"
     type: "right"
     title: "WIDE-BOX Right"
     text: "Wide-box text"
     link: "#"
     
square_boxes:
  -
   square_box:
     img: "images/test_img/1.jpg"
     title: "Square1"
     text: "supa huba doo"
     link: "#"
  -
   square_box:
     img: "images/test_img/1.jpg"
     title: "Square2"
     text: "supa huba doo"
     link: "#" 
  -
   square_box:
     img: "images/test_img/1.jpg"
     title: "Square3"
     text: "supa huba doo"
     link: "#" 
  -
   square_box:
     img: "images/test_img/1.jpg"
     title: "Square4"
     text: "supa huba doo"
     link: "#"
split_promos:
  -
   split_promo:
     title: "Best leaves"
     link: "styleguide.html"
     text: "Check out latest collections"
     img: "images/test_img/5.jpg"
  -
   split_promo:
     title: "Dry and easy"
     text: "Mix and shake"
     img: "images/test_img/5.jpg"
     link: "#"
  -
   split_promo:
     title: "Home grown herbs"
     text: "Mapple syryp from your yard"
     img: "images/test_img/5.jpg"
     link: "#"  
---

=partial('components/site-elements/header', :locals => {:selected => "StyleGuide"})

.section
  %h1
    Hero
  %p
    Hero component that can be used in the top of the pages
  %br  

=partial "components/hero/hero"

.section
  %h1
    Wide-box (two variations)
  %p
    Wide-box is to promote products
  %br
=partial "components/wide-box/wide-box"

.section
  %h1
    Square-Box
  %p
    Small promobox to that promote something simple
  %br
=partial "components/square-box/square-box"

.section
  %h1
    Split-Promo
  %p
    Promote the best offerings
  %br
=partial "components/_split-promo/split-promo"