---
hotshit: "Tulee sivun yml:stä: page.hotshit" 
komponentti1:
  hotshit: "Komponentti1:n sisalto, yml: page.komponentti1.hotshit"
#= YAML.load(File.read("#{File.basename(__FILE__,'.haml')}.yml"))
---

%h1 Fragmentti testi
%p 
%b Alla on include toisesta filusta(test2.haml):
=partial "test2"
%p 
%b Alla on include toisesta filusta, joka käyttää yml:ia tällä sivulla (test3.haml)
=partial "test3"

%p lokaalista yml filusta (/data/hotshit.yml):
=partial "test4"
